.mainContainer{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
}

.background{
    background-color: #a5b279;
    opacity: 40%;
    width: 100vw;
    height: 100vh;
}

.modalContainer{
    border: solid 4px #a5b279;
    position: absolute;
    left:35%;
    top: 35%;
    width: 30%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
}

.modalText{
    color: #5a7008;
    font-size: larger;
}

.closeX{
    color: white;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
    background-color: #5a7008;
    position: absolute;
    top: -15px;
    right: -15px;
}